/* Colour */
.bg-grayNatural {
  background-color: var(--grey-3);
}

/* Display and Alignment */
.block {
  display: block !important;
}
.flex {
  display: flex !important;
}
.relative {
  position: relative !important;
}
.flexWrap {
  display: flex;
  flex-wrap: wrap;
}
.justify-between {
  justify-content: space-between !important;
}
.items-center {
  align-items: center !important;
}

/* Padding Classes */
.p0 {
  padding: 0 !important;
}

.pt0 {
  padding-top: 0 !important;
}

.pr0 {
  padding-right: 0 !important;
}

.pb0 {
  padding-bottom: 0 !important;
}

.pl0 {
  padding-left: 0 !important;
}

.px0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.py0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.p1 {
  padding: 0.4rem !important;
}

.pt1 {
  padding-top: 0.4rem !important;
}

.pr1 {
  padding-right: 0.4rem !important;
}

.pb1 {
  padding-bottom: 0.4rem !important;
}

.pl1 {
  padding-left: 0.4rem !important;
}

.px1 {
  padding-left: 0.4rem !important;
  padding-right: 0.4rem !important;
}

.py1 {
  padding-top: 0.4rem !important;
  padding-bottom: 0.4rem !important;
}

.p2 {
  padding: 0.8rem !important;
}

.pt2 {
  padding-top: 0.8rem !important;
}

.pr2 {
  padding-right: 0.8rem !important;
}

.pb2 {
  padding-bottom: 0.8rem !important;
}

.pl2 {
  padding-left: 0.8rem !important;
}

.px2 {
  padding-left: 0.8rem !important;
  padding-right: 0.8rem !important;
}

.py2 {
  padding-top: 0.8rem !important;
  padding-bottom: 0.8rem !important;
}

.p3 {
  padding: 1.6rem !important;
}

.pt3 {
  padding-top: 1.6rem !important;
}

.pr3 {
  padding-right: 1.6rem !important;
}

.pb3 {
  padding-bottom: 1.6rem !important;
}

.pl3 {
  padding-left: 1.6rem !important;
}

.px3 {
  padding-left: 1.6rem !important;
  padding-right: 1.6rem !important;
}

.py3 {
  padding-top: 1.6rem !important;
  padding-bottom: 1.6rem !important;
}

.p4 {
  padding: 2.4rem !important;
}

.pt4 {
  padding-top: 2.4rem !important;
}

.pr4 {
  padding-right: 2.4rem !important;
}

.pb4 {
  padding-bottom: 2.4rem !important;
}

.pl4 {
  padding-left: 2.4rem !important;
}

.px4 {
  padding-left: 2.4rem !important;
  padding-right: 2.4rem !important;
}

.py4 {
  padding-top: 2.4rem !important;
  padding-bottom: 2.4rem !important;
}

.p5 {
  padding: 3.2rem !important;
}

.pt5 {
  padding-top: 3.2rem !important;
}

.pr5 {
  padding-right: 3.2rem !important;
}

.pb5 {
  padding-bottom: 3.2rem !important;
}

.pl5 {
  padding-left: 3.2rem !important;
}

.px5 {
  padding-left: 3.2rem !important;
  padding-right: 3.2rem !important;
}

.py5 {
  padding-top: 3.2rem !important;
  padding-bottom: 3.2rem !important;
}

.p6 {
  padding: 4rem !important;
}

.pt6 {
  padding-top: 4rem !important;
}

.pr6 {
  padding-right: 4rem !important;
}

.pb6 {
  padding-bottom: 4rem !important;
}

.pl6 {
  padding-left: 4rem !important;
}

.px6 {
  padding-left: 4rem !important;
  padding-right: 4rem !important;
}

.py6 {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
}

.p7 {
  padding: 4.8rem !important;
}

.pt7 {
  padding-top: 4.8rem !important;
}

.pr7 {
  padding-right: 4.8rem !important;
}

.pb7 {
  padding-bottom: 4.8rem !important;
}

.pl7 {
  padding-left: 4.8rem !important;
}

.px7 {
  padding-left: 4.8rem !important;
  padding-right: 4.8rem !important;
}

.py7 {
  padding-top: 4.8rem !important;
  padding-bottom: 4.8rem !important;
}

.p8 {
  padding: 5.6rem !important;
}

.pt8 {
  padding-top: 5.6rem !important;
}

.pr8 {
  padding-right: 5.6rem !important;
}

.pb8 {
  padding-bottom: 5.6rem !important;
}

.pl8 {
  padding-left: 5.6rem !important;
}

.px8 {
  padding-left: 5.6rem !important;
  padding-right: 5.6rem !important;
}

.py8 {
  padding-top: 5.6rem !important;
  padding-bottom: 5.6rem !important;
}

.p9 {
  padding: 6.4rem !important;
}

.pt9 {
  padding-top: 6.4rem !important;
}

.pr9 {
  padding-right: 6.4rem !important;
}

.pb9 {
  padding-bottom: 6.4rem !important;
}

.pl9 {
  padding-left: 6.4rem !important;
}

.px9 {
  padding-left: 6.4rem !important;
  padding-right: 6.4rem !important;
}

.py9 {
  padding-top: 6.4rem !important;
  padding-bottom: 6.4rem !important;
}

/* Margin Classes */
.m0 {
  margin: 0 !important;
}

.mt0 {
  margin-top: 0 !important;
}

.mr0 {
  margin-right: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

.ml0 {
  margin-left: 0 !important;
}

.mx0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.my0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.m1 {
  margin: 0.4rem !important;
}

.mt1 {
  margin-top: 0.4rem !important;
}

.mr1 {
  margin-right: 0.4rem !important;
}

.mb1 {
  margin-bottom: 0.4rem !important;
}

.ml1 {
  margin-left: 0.4rem !important;
}

.mx1 {
  margin-left: 0.4rem !important;
  margin-right: 0.4rem !important;
}

.my1 {
  margin-top: 0.4rem !important;
  margin-bottom: 0.4rem !important;
}

.mxn1 {
  margin-left: calc(-1 * 0.4rem) !important;
  margin-right: calc(-1 * 0.4rem) !important;
}

.m2 {
  margin: 0.8rem !important;
}

.mt2 {
  margin-top: 0.8rem !important;
}

.mr2 {
  margin-right: 0.8rem !important;
}

.mb2 {
  margin-bottom: 0.8rem !important;
}

.ml2 {
  margin-left: 0.8rem !important;
}

.mx2 {
  margin-left: 0.8rem !important;
  margin-right: 0.8rem !important;
}

.my2 {
  margin-top: 0.8rem !important;
  margin-bottom: 0.8rem !important;
}

.mxn2 {
  margin-left: calc(-1 * 0.8rem) !important;
  margin-right: calc(-1 * 0.8rem) !important;
}

.m3 {
  margin: 1.6rem !important;
}

.mt3 {
  margin-top: 1.6rem !important;
}

.mr3 {
  margin-right: 1.6rem !important;
}

.mb3 {
  margin-bottom: 1.6rem !important;
}

.ml3 {
  margin-left: 1.6rem !important;
}

.mx3 {
  margin-left: 1.6rem !important;
  margin-right: 1.6rem !important;
}

.my3 {
  margin-top: 1.6rem !important;
  margin-bottom: 1.6rem !important;
}

.mxn3 {
  margin-left: calc(-1 * 1.6rem) !important;
  margin-right: calc(-1 * 1.6rem) !important;
}

.m4 {
  margin: 2.4rem !important;
}

.mt4 {
  margin-top: 2.4rem !important;
}

.mr4 {
  margin-right: 2.4rem !important;
}

.mb4 {
  margin-bottom: 2.4rem !important;
}

.ml4 {
  margin-left: 2.4rem !important;
}

.mx4 {
  margin-left: 2.4rem !important;
  margin-right: 2.4rem !important;
}

.my4 {
  margin-top: 2.4rem !important;
  margin-bottom: 2.4rem !important;
}

.mxn4 {
  margin-left: calc(-1 * 2.4rem) !important;
  margin-right: calc(-1 * 2.4rem) !important;
}

.m5 {
  margin: 3.2rem !important;
}

.mt5 {
  margin-top: 3.2rem !important;
}

.mr5 {
  margin-right: 3.2rem !important;
}

.mb5 {
  margin-bottom: 3.2rem !important;
}

.ml5 {
  margin-left: 3.2rem !important;
}

.mx5 {
  margin-left: 3.2rem !important;
  margin-right: 3.2rem !important;
}

.my5 {
  margin-top: 3.2rem !important;
  margin-bottom: 3.2rem !important;
}

.mxn5 {
  margin-left: calc(-1 * 3.2rem) !important;
  margin-right: calc(-1 * 3.2rem) !important;
}

.m6 {
  margin: 4rem !important;
}

.mt6 {
  margin-top: 4rem !important;
}

.mr6 {
  margin-right: 4rem !important;
}

.mb6 {
  margin-bottom: 4rem !important;
}

.ml6 {
  margin-left: 4rem !important;
}

.mx6 {
  margin-left: 4rem !important;
  margin-right: 4rem !important;
}

.my6 {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
}

.mxn6 {
  margin-left: calc(-1 * 4rem) !important;
  margin-right: calc(-1 * 4rem) !important;
}

.m7 {
  margin: 4.8rem !important;
}

.mt7 {
  margin-top: 4.8rem !important;
}

.mr7 {
  margin-right: 4.8rem !important;
}

.mb7 {
  margin-bottom: 4.8rem !important;
}

.ml7 {
  margin-left: 4.8rem !important;
}

.mx7 {
  margin-left: 4.8rem !important;
  margin-right: 4.8rem !important;
}

.my7 {
  margin-top: 4.8rem !important;
  margin-bottom: 4.8rem !important;
}

.mxn7 {
  margin-left: calc(-1 * 4.8rem) !important;
  margin-right: calc(-1 * 4.8rem) !important;
}

.m8 {
  margin: 5.6rem !important;
}

.mt8 {
  margin-top: 5.6rem !important;
}

.mr8 {
  margin-right: 5.6rem !important;
}

.mb8 {
  margin-bottom: 5.6rem !important;
}

.ml8 {
  margin-left: 5.6rem !important;
}

.mx8 {
  margin-left: 5.6rem !important;
  margin-right: 5.6rem !important;
}

.my8 {
  margin-top: 5.6rem !important;
  margin-bottom: 5.6rem !important;
}

.mxn8 {
  margin-left: calc(-1 * 5.6rem) !important;
  margin-right: calc(-1 * 5.6rem) !important;
}

.m9 {
  margin: 6.4rem !important;
}

.mt9 {
  margin-top: 6.4rem !important;
}

.mr9 {
  margin-right: 6.4rem !important;
}

.mb9 {
  margin-bottom: 6.4rem !important;
}

.ml9 {
  margin-left: 6.4rem !important;
}

.mx9 {
  margin-left: 6.4rem !important;
  margin-right: 6.4rem !important;
}

.my9 {
  margin-top: 6.4rem !important;
  margin-bottom: 6.4rem !important;
}

.mxn9 {
  margin-left: calc(-1 * 6.4rem) !important;
  margin-right: calc(-1 * 6.4rem) !important;
}

.ml-auto {
  margin-left: auto !important;
}

.mr-auto {
  margin-right: auto !important;
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
